@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.categories-container {
  display: flex;
  flex-direction: column;
}

.search-input-holder {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 43px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .categories-container {
    flex-direction: row;
  }
  
  .mobile-categories {
    display: none;
  }
  
  .desktop-categories {
    display: flex;
  }
}

@media screen and (max-width: 1042px) {
  .categories-container {
    flex-direction: column;
  }
  
  .mobile-categories {
    position: relative;
    z-index: 999999;
    display: flex;
  }
  
  .desktop-categories {
    display: none;
  }
}